.button {
  display: block;
  box-sizing: border-box;

  @include zero;
  width: 100%;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;

  @include weight-font(20px, 17px);
  text-align: center;
  color: $darkest-grey;
  background-color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $darkest-grey;
}

.button--padding {
  padding: 14px 5px;
}

.button--accent {
  color: $basic-white;
  background-color: $basic-mint;
  border: none;
}

.button--min {
  border: none;
  margin-left: auto;
  margin-right: 0;

  @include size(20px, 19px);
  background-color: red;
}

.button--nav {
  @include size(21px, 20px);
  fill: $botton-menu;
  border: none;

  @media (min-width: $min-tablet) {
    display: none;
  }
}

.button--prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 130px;
  height: 52px;
  border: 1px solid $grey;
}

.button--write {
  font-size: 18px;
}

.button--write-us {
  font-size: 18px;

  @media (min-width: $min-tablet) {
    font-size: 17px;
  }
}
