  $basic-black: #000000;
  $other-black: #010000;
  $lite-black: #231F20;
  $basic-white: #ffffff;
  $basic-mint: #63D1BB;
  $border-mint: #62D1BA;
  $map-mint: #6BC6B3;
  $dark-mint: #56C3B2;
  $hover-dark-mint: #46C1AE;
  $active-mint: #59D5BC;
  $darkest-mint: #149080;
  $darkest-grey: #444444;
  $dark-grey: #E5E5E5;
  $grey: #ECECEC;
  $other-grey: #F1F1F1;
