.about-us {
  padding-top: 36px;
  padding-bottom: 83px;
  @media (min-width: $min-tablet) {
    padding-top: 88px;
    padding-left: 3px;
  }
}

.advantage-list {
  @include zero;
  @include weight-font(20px, 17px);
  list-style: none;
  display: flex;
  flex-direction: column;
  @media (min-width: $min-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 98px;
    @include weight-font(22px, 20px);
    margin-bottom: -110px;
  }
}

.advantage-item {
  padding-top: 83px;
  @media (min-width: $min-tablet) {
    flex-basis: 50%;
    padding-top: 0;
    padding-bottom: 110px;
  }
}

.advantage-item--eco {
  @media (max-width: $min-tablet) {
    order: 0;
  }
}

.advantage-item--price {
  @media (max-width: $min-tablet) {
    order: 1;
  }
}

.advantage-item--like {
  @media (max-width: $min-tablet) {
    order: 2;
  }
}

.advantage-item--love {
  @media (max-width: $min-tablet) {
    order: 3;
  }
}

.advantage-item--rus {
  @media (max-width: $min-tablet) {
    order: 4;
  }
}

.advantage-item--gift {
  @media (max-width: $min-tablet) {
    order: 5;
  }
}


