.about-us {
  @include padding;
  padding-top: 31px;
  padding-bottom: 30px;
}

.about-us__title {
  @include zero;
  @include weight-font(30px, 25px);
}

.advantage-list {
  @include zero;
  @include weight-font(20px, 17px);
  list-style: none;
}

.advantage-item {
  padding-top: 83px;
}
