.additional-wraper {
  display: flex;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 26px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $min-tablet) {
    min-width: ($min-tablet - 100) / 2;
    max-width: ($min-desktop - 100) / 2;
    margin: 0;
    padding-right: 33px;
  }

  @media (min-width: $min-desktop) {
    max-width: ($min-desktop - 100) / 2;
  }
}

.additional-wraper--interior {
  @media (min-width: $min-tablet) {
    margin-left: auto;
  }
}
