.advantage-item {
  @media (max-width: $min-tablet) {
    width: 260px;
    margin: 0 auto;
  }
}

.advantage-item__icon-wrapper {
  position: absolute;
  top: 20px;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size (55px, 50px);
  fill: $basic-mint;

  @media (min-width: $min-tablet) {
    top: -62px;
    left: -5px;
  }
}

.advantage-item--eco {
  @media (max-width: $min-tablet) {
    order: 0;
  }
}

.advantage-item--price {
  @media (max-width: $min-tablet) {
    order: 1;
  }
}

.advantage-item--like {
  @media (max-width: $min-tablet) {
    order: 2;
  }
}

.advantage-item--love {
  @media (max-width: $min-tablet) {
    order: 3;
  }
}

.advantage-item--rus {
  @media (max-width: $min-tablet) {
    order: 4;
  }
}

.advantage-item--gift::before {
  background-image: url("../img/icon-feature-gift.svg");
}

.advantage-item--gift {
  @media (max-width: $min-tablet) {
    order: 5;
  }
}
