.catalog-list {
  position: relative;

  @include zero;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $min-tablet) {
    padding-top: 43px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;

    padding-left: 48px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 90px;
  }
}

.catalog-list__item {
  @media (min-width: $min-desktop) {
    flex-basis: 314px;
    padding: 0;
  }
}
