.catalog-list {
  position: relative;

  @include zero;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $min-tablet) {
    padding-top: 49px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;

    padding-left: 48px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 102px;
  }
}

.catalog-list::before {
  @media (min-width: $min-tablet) {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -10px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100%;
  }

  @media (min-width: $min-desktop) {
    height: 25px;
    top: -13px;
    left: -30px;
    background-size: 100%;
    background-position-x: 30px;
  }
}

.catalog-list__item {
  @media (min-width: $min-desktop) {
    flex-basis: 314px;
    padding: 0;
  }
}
