.form-fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;


  border: none;
}

.form-fieldset--color {
  @media (min-width: $min-tablet) {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    flex-direction: row;
  }
}

.form-fieldset__input {
  position: absolute;
  appearance: none;
}

.form-fieldset__legent {
  padding-bottom: 35px;

  @media (min-width: $min-tablet) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form-fieldset__legent--color {
  padding-top: 20px;
  padding-bottom: 34px;
}

.form-fieldset__legent--name {
  padding-bottom: 29px;
}

.form-fieldset__label{
  padding-bottom: 24px;
  padding-left: 64px;
  @media (min-width: $min-tablet) {
    padding-bottom: 58px;
    padding-left: 246px;
  }
}

.form-fieldset__label--color {
  padding-bottom: 43px;
  padding-left: 65px;

  @media (min-width: $min-tablet) {
    width: 181px;
  }
}

.label-item {
  @include weight-font (18px, 17px);

  @media (min-width: $min-tablet) {
    font-size: 19px;
  }
}

.form-title {
  @include weight-font (16px, 17px);
  color: $basic-mint;
  text-transform: uppercase;
}
