.header-nav {
  position: relative;

  @include weight-font;

  @media (min-width: $min-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: $min-desktop) {
    @include weight-font (24px, 17px);
  }
}

.header-nav__toggle {
  position: absolute;
  top: -55px;
  right: -7px;

  width: 30px;
  height: 30px;

  @media (min-width: $min-tablet) {
    display: none;
  }
}

.header-nav--closed .header-nav__list {
  display: none;
}

.toggle--close {
  display: inline-block;
}

.toggle--open {
  display: none;
}

.header-nav--closed .toggle--open {
  display: inline-block;
}

.header-nav--closed .toggle--close {
  display: none;
}
