.header-nav {
  position: relative;

  @include weight-font;

  @media (min-width: $min-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.header-nav__toggle {
  position: absolute;
  top: -50px;
  right: 0;
}

.site-list {
  list-style: none;

  @include zero;

  @media (min-width: $min-tablet) {
    flex-basis: 50%;
    display: flex;
  }
}

.site-list--lead {
  @media (min-width: $min-tablet) {
    font-size: 15px;
  }
}


.site-list--other {
  @media (min-width: $min-tablet) {
    justify-content: flex-end;
    order: -1;
    margin-left: 50%;
  }
}

.site-list__item {
  position: relative;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 48px;

  @media (min-width: $min-tablet) {
    padding-left: 0;
    padding-top: 25px;
  }
}

.site-list__item--order {
  @media (min-width: $min-tablet) {
    padding-top: 33px;
  }
}

.site-list__item-link {
  color: inherit;
  text-decoration: none;
}

.site-list__item--lead:not(:nth-child(2n)) {
  @media (min-width: $min-tablet) {
    padding-right: 38px;
  }
}

.site-list__search {
  @media (min-width: $min-tablet) {
    display: none;
  }
}

.clasrifiction {
  @include zero;
  @include basic-font;
  flex-basis: 50%;
  text-align: right;
  padding-top: 25px;
  color: $darkest-grey;

  @media (max-width: $min-tablet) {
    display: none;
  }
}
