.modal-order {
  @include padding;
}

.modal-order__title {
  padding-left: 60px;
  padding-right: 60px;
  @include weight-font(30px, 25px);
  text-align: center;
  text-transform: uppercase;
}

.modal-order__hint {
  @include zero;
  @include padding;
  @include basic-font(30px);
  text-align: center;
}


