.page-header {
  position: relative;
}

.page-header__logo {
  @media (min-width: $min-tablet) {
    position: absolute;
  }

  @media (min-width: $min-desktop) {
    position: relative;
    margin: 0 auto;
  }
}
