.page-title {
  @include zero;
  @include padding;
  margin: 0 auto;

  @include weight-font (30px, 27px);
  padding-top: 75px;
  padding-bottom: 72px;
  text-align: center;
  background-color: $other-grey;

  @media (min-width: $min-tablet) {
    margin-top: -70px;
    padding-top: 102px;
    padding-bottom: 73px;

    @include weight-font (50px, 43px);
  }
}
