.product {
  padding-top: 31px;
  padding-bottom: 37px;
}

.products-week__product {
  @media (min-width: $min-tablet) {
    padding-top: 55px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "product__title product__sticker"
      "product__description product__img"
      "product__details product__img"
      "product__price product__img"
      "product__order product__img";
  }
}

.product__title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}

.product__title--min {
  @include weight-font(24px, 17px);
  padding-top: 27px;
  padding-bottom: 6px;
}

.product__sticker {
  grid-area: product__sticker;

  @include zero;
  padding-top: 4px;

  @include weight-font(20px);
  color: $basic-mint;
  text-transform: uppercase;

  @media (min-width: $min-tablet) {
    text-align: center;
    width: 37%;
    margin-left: auto;
    line-height: 17px;
  }
}

.product__description {
  grid-area: product__description;

  @include zero;
  padding-top: 17px;
  padding-bottom: 20px;

  @include basic-font;

  @media (min-width: $min-tablet) {
    padding-top: 37px;
    padding-right: 40px;
    padding-bottom: 40px;

    @include basic-font(30px, 17px);
  }
}

.details {
  grid-area: product__details;
  display: flex;
  flex-wrap: wrap;

  @include zero;
  padding-bottom: 29px;

  @include basic-font(20px);
  border: none;
  border-collapse: collapse;
}

.details__line {
  vertical-align: top;
}

.details__name {
  padding-top: 8px;
  padding-bottom: 11px;
  border-bottom: 1px solid $grey;
}

.details__description {
  padding-top: 8px;
  padding-left: 29px;
  padding-right: 26px;
  padding-bottom: 11px;
  border-bottom: 1px solid $grey;
}

.product__img {
  grid-area: product__img;

  @media (min-width: $min-tablet) {
    margin-top: 49px;
  }
}

.product__price {
  grid-area: product__price;

  @include zero;
  padding-top: 23px;
  padding-bottom: 24px;

  @include weight-font;
  color: $darkest-grey;
  text-align: center;

  @media (min-width: $min-tablet) {
    padding-top: 30px;
    padding-bottom: 31px;

    @include weight-font(24px, 20px);
    width: 87%;
  }
}

.product__price--min {
  display: inline-block;

  @include zero;
  font-size: 15px;
  vertical-align: middle;
  text-align: left;
}

.product__order {
  grid-area: product__order;
  max-width: 292px;
  margin-left: 0;
}
