.product {
  padding-top: 31px;
  padding-bottom: 37px;
}

.product__title--min {
  @include weight-font(24px, 17px);
  padding-top: 27px;
  padding-bottom: 6px;
}

.product__sticker {
  @include zero;
  padding-top: 4px;

  @include weight-font(20px);
  color: $basic-mint;
  text-transform: uppercase;
}

.product__description {
  @include zero;
  padding-top: 17px;
  padding-bottom: 20px;

  @include basic-font;
}

.details {
  display: flex;
  flex-wrap: wrap;

  @include zero;
  padding-bottom: 29px;

  @include basic-font(20px);
  border: none;
  border-collapse: collapse;
}

.details__line {
  vertical-align: top;
}

.details__name {
  padding-top: 8px;
  padding-bottom: 11px;
  border-bottom: 1px solid $grey;

}

.details__description {
  padding-top: 8px;
  padding-left: 29px;
  padding-right: 26px;
  padding-bottom: 11px;
  border-bottom: 1px solid $grey;
}

.product__price {
  @include zero;
  padding-top: 23px;
  padding-bottom: 24px;

  @include weight-font;
  text-align: center;
}

.product__price--min {
  display: inline-block;

  @include zero;
  font-size: 15px;
  vertical-align: middle;
  text-align: left;
}

.product__price-order-wrap {
  display: flex;
  flex-wrap: wrap;
}

.product__order {

}
