.promise {
  @include basic-font(24px, 13px);
  padding-top: 17px;
  padding-bottom: 30px;

  @media (min-width: $min-tablet) {
    padding-top: 69px;
    padding-bottom: 79px;

    @include basic-font(30px, 17px);
  }
}

.container--promise {
  @media (min-width: $min-desktop) {
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 120px;
  }
}
