.promise {
  @include basic-font(24px, 13px);
  padding-top: 17px;
  padding-bottom: 30px;

  @media (min-width: $min-tablet) {
    padding-top: 69px;
    padding-bottom: 79px;

    @include basic-font(30px, 17px);
  }
}

.promise::before {
  @media (min-width: $min-tablet) {
    content: "";
    position: absolute;
    width: 100%;

    height: 20px;
    top: 215px;
    left: 0;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100%;
  }

  @media (min-width: $min-desktop) {
    height: 25px;
    top: 239px;
    left: -30px;
    background-size: 100%;
    background-position-x: 30px;
  }
}

.container--promise {
  @media (min-width: $min-desktop) {
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 120px;
  }
}
