.social-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include zero;
  width: 143px;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $min-tablet) {
    padding: 0;
    padding-top: 8px;
    padding-right: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: space-around;
    width: 180px;
  }
}

.social-list__item {
  @include size(25px, 40px);
}
