.video-process {
  position: relative;
}

.container--video {
  @media (min-width: $min-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $min-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.video-process__title {
  @include zero;
  padding-left: 91px;
  padding-bottom: 27px;
  padding-right: 10px;

  @include weight-font;

  @media (min-width: $min-tablet) {
    padding-top: 39px;
    padding-left: 107px;
    padding-bottom: 24px;
    padding-right: 10px;
    font-size: 20px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 97px;
    padding-left: 78px;
    padding-right: 10px;
    max-width: 320px;
  }
}

.video-process__description {
  @include zero;
  padding-top: 32px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 10px;

  @include basic-font;
  font-size: 13px;

  @media (min-width: $min-tablet) {
    padding-top: 0;
    padding-left: 40px;

    @include basic-font(30px, 15px);
  }

  @media (min-width: $min-desktop) {
    margin-top: -286px;
    margin-left: 682px;
    max-width: 320px;
    padding-left: 78px;
  }
}

.video-process__order {
  max-width: 192px;

  @media (min-width: $min-tablet) {
    max-width: 584px;
  }

  @media (min-width: $min-desktop) {
    align-self: center;
    margin-top: -178px;
    margin-left: 761px;

    max-width: 230px;
  }
}
